<% if logged_in? %>
<div class="row pl-5 pr-5 pt-4">
  <div class="container">
    <div class="col-md-12">
      <h2><i class="far fa-file"></i> IDEA一覧</h2>
      <%= render 'posts/posts', posts: @posts %>
    </div>
  </div>
</div>
  
<% else %>

<div class="jumbotron jumbotron-fluid">
  <div class="container text-left">
    <h1 class="pb-7  text-light">I D E A S</h1>
    <h3 class="pb-4 pt-5 text-light">あなたの閃きで</h3>
    <h3 class="pb-4 text-light">みんなを幸せにするツール</h3>
    <%= link_to '新規登録', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>

<section>
  <div class="container pt-3">
    <h2><i class="fab fa-fort-awesome-alt"></i>IDEASの特徴</h2>
  
  <div class="row pt-5">
    <div class="container text-center col-md-4">
      <img width="30%" alt="投稿する" src="/assets/item1.jpeg">
        <h6 class="mt-3">日頃の閃き<br>アイデアを投稿する</h6>
    </div>
    <div class="container text-center col-md-4">
      <img width="30%" alt="投稿する" src="/assets/item2.jpeg">
        <h6 class="mt-3">みんなのアイデアから<br>新たなアイデアへ</h6>
    </div>
    <div class="container text-center col-md-4">
      <img width="30%" alt="投稿する" src="/assets/item3.jpeg">
        <h6 class="mt-3">お気に入りのアイデアを<br>いつでも閲覧！</h6>
    </div>
  </div>
  </div>
</section>

<section id="idea">
  <div class="container text-center">
    <h1 class="mt-5"><strong>I D E A S</strong></h1>
      <h3 class="pb-3 mb-4 mt-4">アイデアに価値（value)を<i class="far fa-thumbs-up"></i></h3>
      <h5 class="pb-3">
        IDEASは、あなたが閃いたことを自由に発信可能なサイトです！
      </h5>
      <h5 class="pb-3">
        仕事や家庭で新たなアイデアを閃いたけど、結びつきそうにない・・・
      </h5>
      <h5 class="pb-3">
        このIDEASを通して、閃きを発信し、まわりの人々を豊かにしていきませんか？
      </h5>
      <h5 class="pb-3">
        何気ないあなたのアイデアが周りにとっては重要なこともあります。
      </h5>
      <h5 class="pb-3">
        ぜひ、自由にご利用ください！  
      </h5>
        <div class="border-bottom">
          <h5 class="pt-2 ">
            まずは、登録から
          </h5>
           <%= link_to '新規登録', signup_path, class: ' mb-3 btn btn-lg btn-primary' %>
        </div>
  </div>
</section>
<% end %>