<div class="jumbotron jumbotron-fluid">
  <div class="container text-left">
    <h1 class="pb-7 pt-5 text-light">I D E A S</h1>
    <h3 class="pb-4 pt-5 text-light">あなたの思いつきを</h3>
    <h3 class="pb-4 text-light">みんなに発信するツール</h3>
    <%= link_to '新規登録', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>