<div class="jumbotron jumbotron-fluid">
  <div class="container text-left">
    <h1 class="pb-5 pt-8 text-light">I D E A S</h1>
    <h3 class="pb-3 text-light">あなたの思いつきを</h3>
    <h3 class="pb-3 text-light">みんなに発信するツール</h3>
  </div>
</div>