<div class=" mt-4 pb-4 container">

<p><h1>利用規約</h1></p>

<p>この規約は、お客様が、運営者が提供するIDEASサービス（以下「本サービス」）をご利用頂く際の取扱いにつき定めるものです。本規約に同意した上で本サービスをご利用ください。</p>

<ul>
  <li class="list-unstyled">
    <strong>第１条（定義）</strong>
    <div>本規約上で使用する用語の定義は、次に掲げるとおりとします。</div>
      <ol>
        <li>本サービス：運営者が運営するサービス及び関連するサービス</li>
        <li>本サイト：本サービスのコンテンツが掲載されたウェブサイト</li>
        <li>本コンテンツ：本サービス上で提供される文字、音、静止画、動画、ソフトウェアプログラム、コード等の総称（投稿情報を含む）</li>
        <li>利用者：本サービスを利用する全ての方</li>
        <li>登録利用者：本サイトの利用者登録が完了した方</li>
        <li>ＩＤ：本サービスの利用のために登録利用者が固有に持つ文字列</li>
        <li>パスワード：ＩＤに対応して登録利用者が固有に設定する暗号</li>
        <li>投稿：登録利用者が文章、文字列、画像、コメント等を掲載する行為</li>
        <li>投稿情報：登録利用者が投稿等により掲載した文章、文字列、画像、コメント等の情報の総称</li>
        <li>個人情報：住所、氏名、職業、電話番号等個人を特定することのできる情報の総称</li>
        <li>登録情報：登録利用者が本サイトにて登録した情報の総称（投稿情報は除く）</li>
        <li>知的財産：発明、考案、植物の新品種、意匠、著作物その他の人間の創造的活動により生み出されるもの（発見または解明がされた自然の法則または現象であって、産業上の利用可能性があるものを含む）、商標、商号その他事業活動に用いられる商品または役務を表示するもの及び営業秘密その他の事業活動に有用な技術上または営業上の情報</li>
        <li>知的財産権：特許権、実用新案権、育成者権、意匠権、著作権、商標権その他の知的財産に関して法令により定められた権利または法律上保護される利益に係る権利</li>
      </ol>
  </li>
  <li class="list-unstyled">
     <strong>第２条（本規約への同意）</strong>
      <ol>
        <li>利用者は、本利用規約に同意頂いた上で、本サービスを利用できるものとします。
        <li>利用者が、本規約への同意手続を行った時点で、利用者と運営者との間で、本規約の諸規定に従った利用契約が成立するものとします。</li>
        <li>利用者が未成年者である場合には、親権者その他の法定代理人の同意を得たうえで、本サービスをご利用ください。</li>
        <li>未成年者の利用者が、法定代理人の同意がないにもかかわらず同意があると偽りまたは年齢について成年と偽って本サービスを利用した場合、その他行為能力者であることを信じさせるために詐術を用いた場合、本サービスに関する一切の法律行為を取り消すことは出来ません。</li>
        <li>本規約の同意時に未成年であった利用者が成年に達した後に本サービスを利用した場合、当該利用者は本サービスに関する一切の法律行為を追認したものとみなされます。</li>
      </ol>
  </li>
  <li class="list-unstyled">
     <strong>第３条（規約の変更）</strong>
      <ol>
        <li>運営者は、利用者の承諾を得ることなく、いつでも、本規約の内容を改定することができるものとし、利用者はこれを異議なく承諾するものとします。</li>
        <li>運営者は、本規約を改定するときは、その内容について運営者所定の方法により利用者に通知します。</li>
        <li>前本規約の改定の効力は、運営者が前項により通知を行った時点から生じるものとします。</li>
        <li>利用者は、本規約変更後、本サービスを利用した時点で、変更後の本利用規約に異議なく同意したものとみなされます。</li>
      </ol>
  </li>
  <li class="list-unstyled">
     <strong>第４条（アカウントの管理）</strong>
      <ol>
        <li>利用者は、利用に際して登録した情報（以下、「登録情報」といいます。メールアドレスやID・パスワード等を含みます）について、自己の責任の下、任意に登録、管理するものとします。利用者は、これを第三者に利用させ、または貸与、譲渡、名義変更、売買などをしてはならないものとします。</li>
        <li>運営者は、登録情報によって本サービスの利用があった場合、利用登録をおこなった本人が利用したものと扱うことができ、当該利用によって生じた結果ならびにそれに伴う一切の責任については、利用登録を行った本人に帰属するものとします。</li>
        <li>利用者は、登録情報の不正使用によって運営者または第三者に損害が生じた場合、運営者および第三者に対して、当該損害を賠償するものとします。</li>
        <li>登録情報の管理は、利用者が自己の責任の下で行うものとし、登録情報が不正確または虚偽であったために利用者が被った一切の不利益および損害に関して、運営者は責任を負わないものとします。</li>
        <li>登録情報が盗用されまたは第三者に利用されていることが判明した場合、利用者は直ちにその旨を運営者に通知するとともに、運営者からの指示に従うものとします。</li>
      </ol>
  </li>
  <li class="list-unstyled">
     <strong>第５条 個人情報等の取り扱い</strong>
      <ol>
        <li>個人情報及び利用者情報については、運営者が別途定める「プライバシーポリシー」に則り、適正に取り扱うこととします。</li>
      </ol>
  </li>  
  <li class="list-unstyled">
     <strong>第６条（禁止行為）</strong>
     <div>本サービスの利用に際し、運営者は、利用者（以下「利用者」）に対し、次に掲げる行為を禁止します。運営者において、利用者が禁止事項に違反したと認めた場合、利用停止、投稿削除等、運営者において必要と判断した措置を取ることができるものとし、利用者はこれを異議なく同意するものとします。</div>
      <ol>
        <li>運営者または第三者の知的財産権を侵害する行為</li>
        <li>運営者または第三者の名誉・信用を毀損または不当に差別もしくは誹謗中傷する行為</li>
        <li>運営者または第三者の財産を侵害する行為、または侵害する恐れのある行為</li>
        <li>運営者または第三者に経済的損害を与える行為</li>
        <li>運営者または第三者に対する脅迫的な行為</li>
        <li>利用者が、以下の情報を投稿すること</li>
          <ol>
            <li>第三者の権利および財産に対して損害を与えるリスクのある情報</li>
            <li>第三者に対して有害な情報、第三者を身体的・心理的に傷つける情報</li>
            <li>犯罪や不法行為、危険行為に属する情報およびそれらを教唆、幇助する情報</li>
            <li>不法、有害、脅迫、虐待、人種差別、中傷、名誉棄損、侮辱、ハラスメント、扇動、不快を与えることを意図し、もしくはそのような結果を生じさせる恐れのある内容をもつ情報</li>
            <li>事実に反する、または存在しないと分かっている情報</li>
            <li>利用者自身がコントロール可能な権利を持たない情報</li>
            <li>第三者の著作権を含む知的財産権やその他の財産権を侵害する情報、公共の利益または個人の権利を侵害する情報</li>
            <li>わいせつ、児童ポルノまたは児童虐待にあたる画像、文書等の情報</li>
            <li>医師法などの法令に違反する情報</li>
            <li>その他運営者が不適切と判断する情報</li>
          </ol>
        
  </li>  
  <li class="list-unstyled">
     <strong>第７条（コンテンツの取り扱い）</strong>
      <ol>
        <li>利用者は､本サービスのコンテンツを運営者の定める範囲内でのみ使用することができるものとします｡</li>
        <li>本サービスで提供される全てのコンテンツに関する権利は運営者が有しており､利用者に対し､運営者が有する特許権､実用新案権､ 意匠権､商標権､著作権､その他知的財産権の実施または使用許諾をするものではありません｡</li>
        <li>利用者は､運営者の定める使用範囲を超えていかなる方法によっても複製､送信､譲渡（利用者同士の売買も含みます）､貸与､翻訳､翻案、無断で転載、二次使用、営利目的の使用、改変、逆アセンブル、逆コンパイル、リバースエンジニアリング等を行う事を禁止します。</li>
        <li>前項に関わらず､退会等により利用者が利用者資格を喪失した場合は､提供されたコンテンツの使用権も消滅するものとします｡</li>
        <li>利用者が、本サービス上に投稿その他の方法で送信したコンテンツ（静止画、動画、文字情報その他一切の情報）に関する著作権（著作権法第21条ないし同第28条に規定する権利を含む全ての著作権を含む。）については利用者に帰属するものとします。ただし、利用者は、コンテンツの送信時に、運営者に対し、日本国内外において、当該コンテンツを無償かつ非独占的に使用することを許諾します。</li>
        <li>利用者は本サービス内では、著作者人格権を行使しないものとします。
      </ol>
  </li>  
  <li class="list-unstyled">
     <strong>第８条（広告の掲載について）</strong>
      <ol>
        <li>利用者は、本サービス上にあらゆる広告が含まれる場合があること、運営者またはその提携先があらゆる広告を掲載する場合があることを理解しこれを承諾したものとみなします。本サービス上の広告の形態や範囲は、運営者によって随時変更されます。</li>
      </ol>
  </li>  
  <li class="list-unstyled">
     <strong>第９条（権利譲渡の禁止）</strong>
      <ol>
        <li>利用者は、予め運営者の書面による承諾がない限り、本規約上の地位および本規約に基づく権利または義務の全部または一部を第三者に譲渡してはならないものとします。</li>
        <li>運営者は、本サービスの全部または一部を運営者の裁量により第三者に譲渡することができ、その場合、譲渡された権利の範囲内で利用者のアカウントを含む、本サービスに係る利用者の一切の権利が譲渡先に移転するものとします。</li>
      </ol>
  </li>  
  <li class="list-unstyled">
     <strong>第１０条（分離可能性）</strong>
      <ol>
        <li>本規約のいずれかの条項又はその一部が、消費者契約法その他の法令等により無効又は執行不能と判断された場合であっても、本規約の残りの規定及び一部が無効又は執行不能と判断された規定の残りの部分は、継続して完全に効力を有するものとします。</li>
      </ol>
  </li>  
  <li class="list-unstyled">
     <strong>第１１条（運営者への連絡方法）</strong>
      <ol>
        <li>本サービスに関する利用者の運営者へのご連絡・お問い合わせは、本サービスまたは運営者が運営するwebサイト内の適宜の場所に設置するお問い合わせフォームからの送信または運営者が別途指定する方法により行うものとします。</li>
      </ol>
  </li> 
  <li class="list-unstyled">
     <strong>第１２条（準拠法、管轄裁判所）</strong>
      <ol>
        <li>本規約の有効性，解釈及び履行については，日本法に準拠し，日本法に従って解釈されるものとする。</li>
        <li>運営者と利用者等との間での論議・訴訟その他一切の紛争については、訴額に応じて、東京簡易裁判所又は東京地方裁判所を専属的合意管轄裁判所とします｡</li>
      </ol>
  </li> 
</ul>
<p>２０２０年３月１５日　施行</p>
</div>