<footer id="footer" class="bg-dark mt-4 ">
  <div class="text-center ">
    <a class='pr-4'><small><%= link_to '利用規約', protocol_path, class: "text-white-50" %></small></a>
    <a class='pr-4'><small><%= link_to 'プライバシーポリシー', privacy_path, class: "text-white-50" %></small></a>
    <a class='pr-4'><small><%= link_to 'お問合せ', new_contact_path, class: "text-white-50" %></small></a>
  </div>
  <div class="text-center text-white-50 py-3 pb-3">
     <small>©2020IDAES</small>
  </div>
    
</footer>

